# Code quality tools:
black==19.10b0
codecov
flake8==3.8.4
isort==5.6.4
mypy==0.770
pytest
pytest-cov
pytest-random-order

tqdm

# Notebook tests:
jupytext
nbformat
nbconvert
jupyter_client
ipykernel
tornado
