# Code quality tools:
black==20.8b1
codecov
flake8==3.8.4
isort==5.6.4
mypy==0.770
pytest
pytest-cov
pytest-random-order
pytest-mock

tqdm

# Notebook tests:
jupytext
nbformat
nbconvert
jupyter_client
ipykernel
tornado
