# Copyright 2021 The GPflux Contributors.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: Tests

on: [push]

jobs:
  check-and-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - python-version: 3.6
            tensorflow: "~=2.5"
            tensorflow_probability: "~=0.12"
          - python-version: 3.7
            tensorflow: ""
            tensorflow_probability: ""
          - python-version: 3.8
            tensorflow: ""
            tensorflow_probability: ""
    name: Python-${{ matrix.python-version }} tensorflow${{ matrix.tensorflow }} tensorflow_probability${{ matrix.tensorflow_probability }}
    env:
      VERSION_TF: ${{ matrix.tensorflow }}
      VERSION_TFP: ${{ matrix.tensorflow_probability }}
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - uses: actions/cache@v2
      with:
        path: ${{ env.pythonLocation }}
        key: ${{ env.pythonLocation }}-${{ hashFiles('setup.py') }}-${{ hashFiles('notebook_requirements.txt') }}-${{ hashFiles('tests_requirements.txt') }}
    - name: Install dependencies
      run: make install
    - name: Run checks
      run: make check
    - name: Run tests
      run: make test
